.product {
  width: 600px;
  margin: 100px auto;
}

#variations {
  border: 1px solid #000;
  margin-bottom: 30px;
}

.product fieldset {
  margin-bottom: 20px;
}

.product fieldset legend {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product fieldset ul {
  display: flex;
  gap: 20px;
}
